{% extends "admin/change_list.html" %}

{% block content_title %}
    <h1> Выручка по датам </h1>
{% endblock %}

{% block result_list %}
    <div class="results">
        <table>

            <thead>
            <tr>
                <th>
                    <div class="text">
                        <a href="#">Месяц</a>
                    </div>
                </th>
                <th>
                    <div class="text">
                        <a href="#">Сумма</a>
                    </div>
                </th>
            </tr>
            </thead>

            <tbody>
            <tr style="font-weight:bold; border-top:2px solid #DDDDDD;">
                <td> За весь период</td>
                <td> {{ summary_total.total_sales | default:0 }} р.</td>
            </tr>
            {% for row in summary %}
                <tr class="{% cycle 'row1' 'row2' %}">
                    <td> {{ row.created_at__month }}.{{ row.created_at__year }} </td>
                    <td> {{ row.total_month | default:0 }} р.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block pagination %}{% endblock %}